body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border:none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    border-bottom: 1px solid #D4D4D4;
    padding-left: 34px;
}
.search-input{
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left:32px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    opacity: 70%;
}

.search-link {
    text-decoration: none;
    color: #363636;
    margin-right: 18px;
    font-size: 18px;
    line-height: 21px;
}
.button-group{
    height: 100%;
    cursor: pointer;
}
.sign-up{
    font-size: 18px;
    line-height: 21px;
    color: #5671F6;
    border:none;
    background:none;
    height: 100%;
    padding-left: 34px;
    padding-right: 34px;
}
.login{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border:none;
    background-color:#5671F6;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
}